@import url('./header.css');
@import url('./reset.css');

:root {
    --text: #ffffff;
    --background: #222831;
    --button-background: #008A90;
    --card-background: #393E46;
}

* {
    box-sizing: border-box;
}

html {
    font-family: DM Sans sans-serif;
    color: var(--text);
    font-size: 14px;
}

h1 {
    color: red;
}

a {
    text-decoration: none;
    color: var(--text);
}

button {
    font-size: 12px;
    border-radius: 4px;
    color: var(--text);
}

.primary-button {
    background-color: var(--button-background);
    border: none;
}

.outlined-button {
    border: 1px solid var(--text);
    background-color: var(--background)
}
