.creations {
    margin: 120px 16px;
}

.creations-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creations-wrap-description {
    margin-top: 12px;
    margin-bottom: 40px;
}

.creations-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
}

.creations-card-title {
    margin-top: 16px;
}
