.header {
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo-wrap {
    display: flex;
    align-items: center;
}

.logo-text {
    margin-left: 8px;
}

.navigation {
    margin-left: auto;
}


.navigation-list {
    display: flex;
}

.navigation-item {
    margin-right: 12px;
    padding: 12px 16px;
}

.button-wrap {
    display: flex;
}

.button-wrap button:first-child {
    margin-right: 12px;
}

.header-button {
    height: 43px;
    padding: 12px 20px;
}

.mobile-navigation {
    display: none;

}

.active {
    display: block;
    position: absolute;
    top: 62px;
    background: var(--background);
    width: 100%;
    left: 0;
}

.humburher-wrap {
    display: none;
}

.mobile-button-wrap {
    display: none;
}

@media screen and (max-width: 700px) {
    .navigation {
        display: none;
    }

    .button-wrap {
        display: none;
    }

    .humburher-wrap {
        display: block;
        margin-left: auto;
    }

    .navigation-item {
        border-bottom: 1px solid var(--text);
        margin-right: 0;
    }

    .mobile-button-wrap {
        margin: 16px 8px;
        display: flex;
        justify-content: space-between;
    }
}
